.passions-conflict-regular {
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Passions Conflict", cursive;
  background-color: #4e005c;
  margin: 0;
  padding: 0;
}
h1 {
    color: white;
    font-family: "Passions Conflict", cursive;
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
}
h2 {
    color: white;
    font-family: "Passions Conflict", cursive;
    text-align: center;
    font-size: 89px;
    margin-top: 20px;
}
p {
    color: white;
    font-family: "Passions Conflict", cursive;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}
div.container {
    text-align: center;
}
ul.list {
    display: inline-block;
    text-align: left;
    font-size: 32px;
}